.profile-img.desktop{
  max-width: 100%;
  max-height: 20vh;
  margin-right: 20px;
}

.entire-profile{
  text-align: left;
  margin-left: 1vw;
  margin-top: 1vh;
  padding-left:3vw;
  padding-top:1vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.entire-profile.mobile{
  text-align: left;
  margin-left: 1vw;
  margin-top: 1vh;
  padding-left:5vw;
  padding-right: 6vw;
  padding-top:1vh;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 65px - 50px)
}

.row-div{
  margin-top:20px;
}

.link{
  margin-right:5%;
  margin-bottom:2vh;
}

.company-info{
  margin-left:-30px
}

.profile-img.mobile{
  max-width: 95%;
}