.text-display{
  height:82vh;
  background-color: aliceblue;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-display{
  height:92vh;
}

.companyName{
  font-size: 30px;
}

.title{
  font-size: 20px;
  text-align: center;
}