.text-display{
  height:calc(100vh - 57px - 80px);
  background-color: aliceblue;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-display{
  height:calc(100vh - 57px);
}

.companyName{
  font-size: 30px;
}

.title{
  font-size: 20px;
  text-align: center;
}