.side-bar {
  background-color: var(--l3);
  height: 100vh;
  text-align: left;
  overflow: auto;
}

.img-div {
  text-align: center;
  margin-top: 7px;
  position: static;
}

.no-word-logo {
  width: 60%;
  margin-bottom: -20px;
}
