.register-logo{
  height: 15vh;
  margin-top: 30px;
}

.register-whole-page{
  overflow-x: hidden;
  overflow-y: auto;
}

@media all and (max-width:767px){
  .register-logo{margin-top: 22vh;}
}

@media all and (min-width:768px){

}