.logo{
  height: 15vh;
  margin-top: 30px;
}

.info{
  text-align: left;
  margin-top:60px;
  font-size: 26px;
  vertical-align: 50%;
}

.login-whole-page{
  overflow-x: hidden;
  overflow-y: auto;
}

@media all and (max-width:767px){
  .logo{margin-top: 22vh;}
  .info{color:var(--color5);}
}

@media all and (min-width:768px){
  .info{color:var(--color1);}
}