@media all and (max-width:767px){
  .topBar{width: 97vw;}
}

@media all and (min-width:768px){
  .topBar{width: 33.5vw;}
}

.topBar{
  background-color: black;
  margin-left: 0vw;
  margin-bottom: 8vh;
}

.employee-registration-link{
  text-align: center;
}

.company-registration-link{
  text-align: center;
}
