.list-column{
  height: calc(100vh - 57px - 80px);
  overflow-y: auto;
  border-right-style: solid;
  overflow-x: hidden;
}

.actual-list{
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(90vh - 57px - 80px);
}

.paper-list{
  width:96%;
  margin-left:2%;
  margin-bottom:2px;
}

.title-list{
  height:40px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: var(--l3);
}