:root{
  /* 1 */
  /* --color1:#ECECEB;
  --color2:#63BCD5;
  --color3:#2A6393;
  --color4:#888875;
  --color5:#273132;  */
  /* 3 */
  /* --color1:#FAFAFA;
  --color2:#8B8A97;
  --color3:#1EB1F5;
  --color4:#686E75;
  --color5:#26394A; */
  /* 1 */
  /* --color1:#EEF0E9;
  --color2:#9294BF;
  --color3:#8C5E8D;
  --color4:#8D6EA1;
  --color5:#3F2160; */
  /* 1 */
  --color1:#ECECEB;
  --color2:#63BCD5;
  --color3:#2A6393;
  --color4:#6284AD;
  --color5:#273132; 
  /*overflow: hidden;*/
}

.App {
  text-align: center;
  width:100vw;
  color:var(--color5);
  /* background-color: var(--color4) */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}