:root{
  /* --hpink:#EB347F;
  --l1:#D8DBE2;
  --l2:#A9BCD0;
  --l3:#58A4B0;
  --vblue:#50C2C4;
  --hc:rgba(249, 84, 153, 0.69); */
  --color1:#ECECEB;
  --color2:#63BCD5;
  --color3:#2A6393;
  --color4:#888875;
  --color5:#273132;
  /*overflow: hidden;*/
}

.App {
  text-align: center;
  width:100vw;
  color:var(--color5);
  /* background-color: var(--color4) */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}